.swiper-container .swiper-slide {
  height: auto;
}

.swiper-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.page.page-home.page-current {
  width: 100%;
  max-width: 500px;
  position: relative;
  margin: 0 auto;
}

.container .col-50 .content {
  height: 100px;
}

.container .col-50 .content img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.container .col-50 .content-text h5 {
  height: 55px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mt--5 {
  margin-top: 5px;
}

.mt--10 {
  margin-top: 10px;
}

